body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  color: red;
}

#todo_list li {
  cursor: pointer;
}

#todo_list li[data-completed="true"] {
  text-decoration: line-through;
}

.delete_button {
  margin-left: 0.5em;
}
